html,
body {
    padding: 0;
    margin: 0;
}

/* Navigation section */

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;

}

.logo {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-self: center;
    padding: 20px;
}

nav .nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18px;
    padding: 20px;

}

nav .nav-links a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 300;

}

.nav-buttons {
    background-color: rgb(85, 119, 85);
    margin: 20px;
    padding: 15px 20px;
    align-self: center;
    border-radius: 6px;

}

.nav-buttons:hover {
    background-color: rgb(35, 46, 35);
    transform: translateY(-6px);
    transition: 0.3s ease-in-out;
}

.nav-buttons a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
}


/* hide hamburger on desktop */

.hamburger-dev {
    display: none;
}

.hamburger-dev a {
    text-decoration: none;
    color: black;
    font-size: 18px;

}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 8px;
}

.mobile-nav {
    display: none;
    background: brown;
    width: 100%;
}

.mobile-nav .mobile-links {
    list-style: none;
    margin: 0;
    padding: 10px 16px;
}

.mobile-nav .mobile-links li a {
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* Responsiveness */

@media (min-width:768px) and (max-width: 992px) {

    nav .nav-links {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .hamburger-dev {
        display: inline-block;
    }


    .logo img {
        height: 38px;
    }

    .nav-actions {
        display: flex;
        align-items: center;
        gap: 8px;
    }


    .nav-buttons {
        display: none;
    }


    body.mobile-open .mobile-nav {
        display: block;
    }

    .mobile-nav .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

@media (max-width: 767px) {

    nav .nav-links {
        display: none;
    }


    .hamburger {
        display: inline-block;
    }

    .hamburger-dev {
        display: inline-block;
    }


    .logo img {
        height: 25px;
    }

    .nav-actions {
        display: flex;
        align-items: center;
        gap: 8px;
    }


    .nav-buttons {
        display: none;
    }


    body.mobile-open .mobile-nav {
        display: block;
    }

    .mobile-nav .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

/* Hero section */

.hero-container {
    background-color: rgb(245, 239, 239);
    display: flex;
    height: 100vh;
     width: 100%;

}

.hero-content {
    height: 70vh;
    padding: 70px;


}

.hero-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin: 17px;
}

.hero-content p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    opacity: 0.6;
    margin: 17px;
}

.hero-buttons {
    display: flex;
    justify-content: flex-start;
}

.hero-buttons .btn-primary,
.hero-buttons .btn-outline {
    background-color: rgb(85, 119, 85);
    margin: 20px;
    padding: 20px 25px;
    align-self: center;
    border-radius: 6px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: rgb(35, 46, 35);
    transition: 0.3s ease-in-out;
}

.hero-buttons .btn-outline {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 300;
}

.btn-outline:hover {
    background-color: rgb(85, 119, 85);
    transition: 0.3s ease-in-out;
    color: white;
}

.hero-image {
    flex: 1;

}

.hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;

}

@media (min-width:768px) and (max-width: 992px) {
    .hero-container {
        
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .hero-content {
        height: auto;
        padding-top: 40px;
    }

    .hero-content h1 {
        font-size: 45px;
        line-height: 1.2;
    }

    .hero-content p {
        font-size: 14px;
        max-width: 550px;
        margin: 10px auto;
    }

    .hero-buttons {
        justify-content: center;
    }


    .hero-image img {
           width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media (max-width:767px) {


  
    .hero-container {
        flex-direction: column;
        height: auto;
         width: 100%;
        text-align: center;
        
    }

    .hero-content {
        height: auto;
        padding-top: 20px;
    }

    .hero-content h1 {
        font-size: 33px;
        line-height: 1.3;
        margin: 10px 0;
    }

    .hero-content p {
        font-size: 14px;
        margin: 10px auto 20px;
        max-width: 350px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .hero-buttons .btn-primary,
    .hero-buttons .btn-outline {
        width: 90%;
        margin: 0;
        padding: 15px;
        font-size: 15px;
    }

    .hero-image img {
         width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      
    }
}
